.containerCarrito {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

#a1 {
    color: white;
    font-size: 15px;
}

.containerCarrito div h3 {
    color: black;
    font-size: 25px;
    font-weight: inherit;
    margin: 0;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.containerCarrito div p {
    color: grey;
    padding-bottom: 10px;
}

/*Carrito*/

.containerCarrito div h3 {
    color: black;
    font-size: 25px;
    font-weight: inherit;
    margin: 0;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.containerCarrito div p {
    color: grey;
    padding-bottom: 10px;
}

.containerCarrito div img {
    width: 150px;
    height: 100px;
}

.containerCarrito {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.containerMedioDePago {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.containerMedioDePago div img {
    line-height: 100%;
    text-align: center;
    /*para achica espacio entre etiquetas*/
}

.containerMedioDePago div p {
    line-height: 100%;
    text-align: center;
    /*para achica espacio entre etiquetas*/
}

.containerMedioDePago div h5 {
    text-align: center;
}

.containerMedioDePago div button {
    text-align: center;
}